/*styles for Side Navigation */
header {
    height: 100%;
    width: 200px;
    position: relative;
    top: 0;
    left:0;
    background-color: purple
    padding-top: 20px;

}
body{
    background-color:burlywood;
}
h1 {
    font-size: larger;
    text-align: center
}
nav ul{
    list-style-type: square;
    text-transform: uppercase;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 100%;

}
nav ul l a{
    text-decoration: none;
    color: brown;

}
nav ul li a:hover {
    background-color: antiquewhite;
}
/*style for content Area*/
.contanier{
    margin-left: 200px;/*same as sidenav width*/
}

.content{
    padding: 20px;
}
/*responsive styles*/
@media only screen and (Max-width:600px) {
    .contanier {
        margin-left: 200 px;
    }
}


    
    .Sidenav{
        width: 100%;
        height: auto;
        position: relative;
    }
    /*style for Home Style*/
    #home{
        text-align: center;
        padding: 20px;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: larger;
        font-family: Arial, Helvetica, sans-serif;
    }
   #home img{
    width:90;
   }
   #home p {
    font-size: larger;
   }
  
  /*Styles for ingredients section*/
  #ingredients{
    text-align: center;
    font-style: italic;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  #ingredients ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }
  #ingredients li{
    margin: 10px;
    text-align: center;
    list-style: none;
  }
  #ingredients li img{

    max-width: 100px;
    height: auto;

  }
  /*style for recipe section*/
  #recipe {
    text-align: center;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: larger;
  }
  #recipe ol {

  }
  #recipe ol li{
    margin-bottom: 10px;
  }
  #recipe ol li img{
    max-width: 100px;
    height: auto;
  }
  /* style for your feedback section*/
  #feedback {
    text-align: center;
    padding: 20px;
    height: 70vh;
  }
  #feedback form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #feedback label{
    margin-bottom: 10px;
  }
  #feedback textarea{ 
    width: 100px;
    padding: 10px;
    box-sizing: 400px;
  }
  #feedback input{
    padding: 10px 20px;
    background-color: antiquewhite;
  }
    
    
  
    
    
  
    
  


  



        

       
    
    
    


